
body {
    background-color:rgb(128, 96, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 700;
    

}



h1#principal { 
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.destaque{ 
    color: aquamarine;

}
h1:hover{
    color: yellow;
}
p{
    font-weight: 700;
    text-indent: 20px;
    font-style: italic;
    
}
div:hover{
color: red
}
div > p{
    display: none;
    color: white;
}
div:hover > p{
    display: block;
}